body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
}
h2 {
  color: #333;
}

h1 {
  font-size: 3em;
  margin: 10px 0;
  text-wrap: balance;
}

span {
  color: #FF5722;
  font-weight: bold;
  margin-top: 10px;
  text-wrap: balance;
}

.loading {
  font-size: 1.5em;
  color: #777;
}

.gauge-container {
  width: 300px;
  height: 300px;
  position: relative;
  margin-bottom: 10px;
}

.gauge {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.gauge-content {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: azure;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.6);
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 28px;

}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

h1
{
  margin: 0;
}

.statusTag {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: small;
}

.connected {
  margin-top: 0px;
  text-align: center;
  background-color: rgb(198,246,213);
  color: rgb(82,160,119);
}

.dotConnected {
  background-color: rgb(82,160,119);
}

.dotdisconnected{
  background-color: rgb(228,138,138);
}

.disconnected {
  margin-top: 0px;
  text-align: center;
  background-color: rgb(254,215,215);
  color: rgb(228,138,138);
}

.dot {
  width: 6px;
  height: 6px;
  margin-bottom: 1.5px;
  border-radius: 50%;
}